/* Center the content */
.App {
  padding: 20px;
  background-color: #E0F7FA;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 2fr 1fr; /* Two-thirds for content, one-third for list */
  grid-gap: 20px;
}

h1 {
  color: darkblue;
  text-align: left;
  margin: 0 auto;
  grid-column: 1 / 3; /* Make the header span both columns */
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 250px; /* Reduce width of form */
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px; /* Space between label and input */
}

input {
  width: 100%;
  padding: 8px; /* Reduced padding */
  margin: 8px 0; /* Reduced margin */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px; /* Optional: Adjust font size */
}

button {
  align-self: center;
  padding: 10px; /* Keep padding consistent */
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Optional: Adjust font size */
}

button:hover {
  background-color: darkblue;
}

.list-container {
  /* Align the list to the right column */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #98FF98;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
}